Package: dm-office-tools
Version: 2.0.8
Section: office
Priority: optional
Architecture: amd64
Maintainer: Dharmendra Marko
Depends: python3, python3-gi, python3-requests, wl-clipboard
Suggests: xclip | xsel
Homepage: https://github.com/dharmendramarko66/DM_Office_Translator
Description: DM Office Translator
 Smart Office Hybrid Translator (SOHT) for English-Hindi and Hindi-English
 data entry in Court and Government offices with Dictionary Manager and
 keyboard shortcuts.
