[Desktop Entry]
Version=1.0
Type=Application
Name=DM Office Tools (SOHT)
Comment=Smart Office Hybrid Translator (SOHT)
Exec=/opt/dm-office-tools/launch.sh
Icon=dm-office-tools
Terminal=false
Categories=Office;
StartupNotify=true
